[submodule "tclap"]
	path = external/tclap
	url = https://git.code.sf.net/p/tclap/code
[submodule "glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "tester"]
	path = external/tester
	url = https://github.com/beuss-git/prog2002_test_poc.git