[submodule "tclap"]
	path = external/tclap
	url = https://git.code.sf.net/p/tclap/code
[submodule "glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "tester"]
	path = external/tester
	url = https://git.gvk.idi.ntnu.no/course/prog2002/continuous-integration/testing.git
